.header_space {
  padding-top: 50px;
}

.music {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56%;
}

.music_player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.artist_name {
  color: #ffffff;
  font-size: 5vw;
  text-align: center;
  margin-bottom: 0;
}

.artist_about {
  color: #ffffff;
  font-size: 1.5vw;
  text-align: center;
  margin: 0 0 5vh 0;
  padding: 2vh;
}

.space {
  margin-bottom: 40px;
}

.artist_table {
  margin: 0 auto;
}

.artist_table_link {
  cursor: none;
}

@media (max-width: 425px) {
  .artist_about {
    font-size: 1vw;
  }
}
